:root {
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --azul-oscuro: #001C30;
    --azul: #176B87;
    --verde-pastel:#64CCC5;
    --verde-claro:#DAFFFB;
}

body {
    margin: 0;
}

/* Quitar incremento y decremento */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  display: none;
}
/* --------------------------------- */

h1 {
    background-color: var(--verde-pastel);
    margin: 10px 0;
    padding: 5px;
    color: white;
    border-radius: 5px;
}

#contendorDeRegistros {
    
    font-size: var(--md);
    margin: 10px;    
    text-align: center;
    display: grid;
    grid-template-rows: 1fr;   
}

.parejas {
    display: grid;
    grid-template-columns: 48% 52%;
    
    margin-bottom: 10px;
}

.detalles{
    display: inline-block;
    
}
.detalles textarea{
    width: 95%;
    /* height: 100px; */
    border-color: var(--verde-pastel);
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--md);
    
}

.date input {
    font-size: var(--lg);
}

label, input,
.parejas p {
    margin: 0;
    height: 30px;
    line-height: 30px;
    align-self: center;
}

.punto {
    display: grid;
    grid-template-columns: 48% 42% 10%;
}

.punto #fechaEntregaPunto {
    margin-left: 5px;
    /* background: red; */
}


label,
.parejas p:nth-child(1) {
    text-align:center;
    font-size: var(--lg);
    color: var(--azul-oscuro);
}

input,
.parejas p:nth-child(2) {
    text-align: center;
}

input {
    border: 1px solid var(--verde-pastel);
}


input:focus,
textarea:focus {
    border-color: var(--azul-oscuro) !important;
    
}

.pColor {
    font-size: var(--lg);
    padding: 5px 0;
    background-color: var(--verde-claro);
    border-radius: 5px;
}

.botones button {
    background-color: white;
    border: 1px solid var(--verde-pastel);
    border-radius: 5px;
    width: 200px;
    height: 50px;
    cursor: pointer;
}

.botones button:active {
    border-color: var(--azul-oscuro);
    transform: scale(0.98);
}

/*Input ganancia + Resultado*/

#ganancia-div {
    font-size: var(--lg);
}

@media screen and (min-width: 500px) {
    #todoLosRegistros {
        max-width: 500px;
        margin: 0 auto;
    }
  }

  /* @media screen and (max-width: 400px) {
    #todoLosRegistros {
        min-width: 380px;
        margin: 0 auto;
    }
  } */